.choiceBtn:hover{
    background-color: rgb(109, 205, 205);
    box-shadow: 10px 10px 10px 3px ;
    border-radius:10px;
}
.choiceBtn:active{
    box-shadow: 10px 10px 10px 3px ;
}
.choiceBtn{
    height:50px;
    width:125px;
    text-align:center;
    justify-content:center;
}